.btn {
    color: #555555;
    border: 1px solid #ddd;
    padding: 5px 8px;
    margin-left: 3px;
}

.btn_solid:hover {
    background-color: #f4a137;
    color: #fff;
    border-color: #f4a137;
}

.btn_reg:hover {
    color: #f4a137;
    border-color: #f4a137;
}

.btn_product {
    background-color: #f4a137;
    color: #fff;
}